<app-navbar></app-navbar>

<div class="container">
    <button type="button" class="btn btn-primary btn-new" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-plus-circle"></i>
    </button>
    <h2 class="page-title">Alunos</h2>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of listStudents">
                <td>{{ student.name }} </td>
                <td (click)="getStudentById( student.id );"><i class="fas fa-edit btn-actions"></i></td>
                <td (click)="newFeature();"><i class="fas fa-times-circle btn-actions"></i></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Aluno(a)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="form-group d-flex flex-lg-wrap">
                        <div class="form-group col-12">
                            <label for="name">Nome</label>
                            <input type="text" class="form-control" placeholder="Nome" formControlName="name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-new" (click)="saveNewStudent();">Salvar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #exampleModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" ngbAutofocus>Editar Aluno(a)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group d-flex flex-lg-wrap">
                <div class="form-group col-4">
                    <label for="id">Id</label>
                    <input type="text" class="form-control" placeholder="Id" formControlName="id">
                </div>
                <div class="form-group col-8">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" formControlName="name">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-new" (click)="updateStudent();">Editar</button>
    </div>
</ng-template>

<ng-template #newFeatureModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" ngbAutofocus>Novo Recurso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group col-12">
            <span>Recurso em desenvolvimento</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-new" (click)="modal.dismiss();">OK</button>
    </div>
</ng-template>